@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@300;400;500;600&display=swap');



.border {
    border: 1px solid red;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

header {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

nav {
    padding: 10px;
}

nav form .location_gif {
    width: 30px;
}

nav form div {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav form div input[type=button] {
    width: 100px;
    background-color: black;
    color: white;
    border: none;
}

.logo {
    background-color: white;
    color: black;
}

nav form div input[type=search] {
    flex: 1;
    margin-right: 3px;
}


main {
    padding: 10px;
}

@media screen and (min-width: 700px) {
    .main_content {
        display: flex;
    }

    .left_block, .right_block {
        flex: 1;
        margin: 5px;
    }

    .left_block {
        display: flex;
        flex-direction: column;
    }

    .location {
        flex: 1;
    }

    .current-content {
        flex: 2;
    }

    main, nav {
        display: block;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 700px){
    .main_content {
        display: flex;
        flex-direction: column;
    }
}

footer {
    margin-top: 15px;
    background-color: black;
    color: white;
    min-height: 200px;
    text-align: center;
    padding: 20px;
}

footer div {
    margin-bottom: 10px;
}

footer a * {
    margin-left: 20px;
}

footer a:visited {
    color: white;
}

footer img {
    aspect-ratio: 1/1;
    width: 20px;
}

footer span {
    vertical-align:text-top
}