.areas {
    display: block;
    padding-top: 10px;
}

.area {
    display: inline;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
}

.focused {
    background-color: black;
    color: white;
}

.close-area {
    border-radius: 15px;
    background-color: black;
    color: white;
    border: none;
    
}