.areas {
    display: block;
    padding-top: 15px;
}

.area {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.area:hover {
    background-color: red;
    color: white;
    transition: 1s;
}

.focused {
    background-color: black;
    color: white;
}

.close-area {
    background-color: black;
    color: white;
    border: none;
    margin: auto 0;
    margin-left: 5px;
}