.areas {
    display: block;
    padding-top: 15px;
}

.area {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    margin-right: 5px;
    margin-top: 5px;
}

.focused {
    background-color: black;
    color: white;
}

.close-area {
    border-radius: 15px;
    background-color: black;
    color: white;
    border: none;
    margin: auto 0;
    margin-left: 5px;
}